body {
  text-align: center;
  color: rgb(232, 222, 222);
  font: size 1.25em;
  background-image: url("https://images.pexels.com/photos/5069795/pexels-photo-5069795.png?auto=compress&cs=tinysrgb&w=800");
  background-repeat: no-repeat;
  width: fit-content;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

h1 {
  text-decoration: underline overline rgb(63, 11, 130);
}
table,
th,
td {
  border: 1px solid;
  margin-top: 35px;
  text-align: center;
}

.info {
  background-color: rgb(52, 106, 199);
  border-radius: 0.8rem;
  max-width: 500px;
}

footer {
  font-size: small;
  padding: 100px;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  border-width: 0.25rem;
  border-radius: 10px;
  font-size: larger;
  table-layout: fixed;
  width: 500px;
  color: black;
}
th,
td {
  background-color: #96d4d4;
}
